<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="CMakeEd Target Platform Definition" sequenceNumber="1512645929">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.platform.sdk" version="3.8.2.M20130131-0800"/>
      <unit id="org.eclipse.sdk.ide" version="3.8.2.M20130131-0800"/>
      <repository location="http://download.eclipse.org/eclipse/updates/3.8"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.antlr.runtime" version="4.5.1.v20160210-1233"/>
      <repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20170919201930/repository"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.hamcrest" version="1.1.0.v20090501071000"/>
      <unit id="org.junit" version="4.10.0.v4_10_0_v20120426-0900"/>
      <repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20130118183705/repository/"/>
    </location>
  </locations>
</target>
